/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
  font-family: Microsoft JhengHei;
}

.header {
  height: 76px;
  background: #323228;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  opacity: 0.8;
  width: 1024px;
  z-index: 99;
}
.header h1 a {
  background-image: url(../img/logo.png);
  width: 182px;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-indent: 101%;
}

.header-menu {
  display: flex;
}
.header-menu li {
  padding: 0 30px;
}
.header-menu li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 20px;
}
.header-menu li a:hover {
  color: #00cc99;
  border-bottom: 5px solid #00cc99;
}

.footer {
  background: #323228;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo img {
  width: 182px;
  height: 36px;
}
.logo p {
  color: rgba(255, 255, 255, 0.805);
  font-size: 14px;
  text-align: right;
  padding-right: 5px;
}
.logo a {
  text-decoration: none;
}

.icon ul {
  display: flex;
}
.icon ul li {
  padding: 0 15px;
}
.icon ul li svg {
  width: 25px;
  height: 25px;
  color: #323228;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s;
  transform: scale(0.9);
}
.icon ul li svg:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px #ffee10;
  text-shadow: 0 0 12px #ffee10;
}

.index {
  background-image: url(../img/bg_index.png);
  height: 560px;
  position: relative;
}

.index-title {
  color: #00cc99;
  font-size: 36px;
  line-height: 1.5;
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 1;
  font-weight: 600;
}
.index-title h2 {
  padding-bottom: 20px;
}
.index-title span {
  color: white;
}

.btn-primary {
  color: white;
  background-color: #00cc99;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
}
.btn-primary svg {
  width: 25px;
  height: 25px;
  margin: 0 15px;
}
.btn-primary:hover {
  transform: scale(1.1);
  background-color: #00644b;
}

.l-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.l-head h2 {
  display: inline;
  font-size: 32px;
  color: #00cc99;
  font-weight: 700;
  padding-right: 15px;
}
.l-head span {
  color: #a3a3a3;
  font-weight: 600;
}

.btn-secondary {
  color: #00cc99;
  background-color: white;
  border: 1px solid #00cc99;
  border-radius: 5px;
  padding: 3px 20px;
  font-weight: 600;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #00644b;
  color: white;
}

.content {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.content-list {
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;
}
.content-list li {
  width: 30%;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.072);
  padding: 20px 15px;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  transition: box-shadow 1s, border 1s;
}
.content-list li h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: #323228;
}
.content-list li p {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 14px;
  text-align: justify;
  color: #a3a3a3;
  font-weight: 600;
}
.content-list li:hover {
  box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.158);
  border: 1px solid #ebebeb;
}

.lesson {
  padding: 0px 20px;
  margin-bottom: 30px;
}

.lesson-table table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 10;
  width: 100%;
}
.lesson-table tr:hover {
  background-color: rgba(224, 224, 224, 0.295);
}
.lesson-table th {
  background-color: #ebebeb;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
.lesson-table th,
.lesson-table td {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  text-align: left;
  padding: 10px 120px 10px 20px;
}

.text-green {
  color: #00cc99;
  font-weight: 600;
}

.index-apply {
  background-color: #ebebeb;
  padding: 100px 20px;
  display: flex;
  justify-content: space-around;
}

.apply-title {
  font-size: 32px;
  text-align: justify;
  line-height: 1.5;
  font-weight: 700;
  color: #323228;
}

.apply-information {
  width: 50%;
}
.apply-information input[type=text],
.apply-information input[type=email] {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 0;
  font-size: 16px;
  border: 1px solid #ebebeb;
  outline: none;
  padding: 10px 5px;
}

.apply-text {
  width: 100%;
}
.apply-text textarea {
  width: 100%;
  height: 250px;
  resize: none;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  overflow: hidden;
  outline: none;
  color: #323228;
  margin-bottom: 20px;
  font-size: 16px;
}

.submit {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 30px;
  background-color: #00cc99;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: transform 0.5s;
  letter-spacing: 10px;
}
.submit:hover {
  transform: scale(1.1);
  background-color: #00644b;
}

.course {
  background-image: url(../img/bg_course.png);
  height: 560px;
  position: relative;
}

.course-title {
  line-height: 1.5;
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 1;
  font-weight: 600;
}
.course-title h2 {
  color: white;
  font-size: 36px;
}
.course-title span {
  color: #00cc99;
  font-size: 16px;
  display: block;
  padding-bottom: 50px;
}

.teacher {
  display: flex;
  padding: 0px 100px;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 30px 0;
}
.teacher img {
  width: 220px;
  height: 220px;
}

.teacher-name {
  font-size: 36px;
  font-weight: 700;
}
.teacher-name h2 {
  color: #00cc99;
  padding-bottom: 10px;
}

.teacher-list li {
  padding-bottom: 10px;
  font-size: 16px;
  color: #a3a3a3;
  list-style: disc;
}

.special {
  padding: 0px 100px;
  margin: 50px 0 30px 0;
}

.special-list {
  padding: 0 20px;
}
.special-list li {
  font-size: 16px;
  list-style: decimal;
  line-height: 1.5;
  padding: 0 10px;
  text-align: justify;
}

.outline {
  padding: 0px 100px;
  margin: 50px 0 30px 0;
}

.outline-list li {
  padding: 15px 0 15px 30px;
  border-radius: 5px;
}
.outline-list li:nth-child(odd) {
  background-color: #ebebeb;
  font-weight: 600;
}
.outline-list li:nth-child(even) {
  color: #a3a3a3;
}

.coures-apply {
  background-color: #ebebeb;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.apply-btn {
  padding-left: 60px;
}

.faq {
  background-image: url(../img/bg_QA.png);
  height: 560px;
  text-align: center;
  padding: 200px 0px;
}

.faq-title {
  color: #00cc99;
  font-weight: 600;
  padding-bottom: 30px;
}
.faq-title h2 {
  padding-bottom: 10px;
  color: #ebebeb;
  font-size: 40px;
}
.faq-title span {
  color: #00cc99;
  font-size: 24px;
}

.faq-search {
  display: flex;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.search-bar {
  font-size: 16px;
  border: 1px solid #ebebeb;
  outline: none;
  height: 35px;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

.search-btn {
  background-color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  color: black;
  background-color: white;
}

.question {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.question-list h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.question-list p {
  color: #323228;
  font-size: 14px;
  padding-bottom: 15px;
  line-height: 1.5;
}
.question-list a {
  text-decoration: none;
  color: #00cc99;
  font-weight: 600;
}
.question-list ol {
  padding: 0px 0px 15px 20px;
  font-size: 14px;
}
.question-list ol li {
  line-height: 1.5;
  list-style: decimal;
}
.question-list ul {
  padding: 0px 0px 15px 20px;
  font-size: 14px;
}
.question-list ul li {
  line-height: 1.5;
  list-style: disc;
}
.question-list h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.question-list .no-bottom {
  padding: 0;
}

.paying {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.refund {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.faq-apply {
  background-color: #ebebeb;
  padding: 100px 20px;
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=all.css.map */